<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Float landing page</title>

        <!-- Common plugins -->
        <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet">
        <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="plugins/pace/pace.css" rel="stylesheet">
        <!--template css-->
        <link href="css/landing-style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="float-landing" data-spy="scroll" data-offset="70" data-taget=".navbar-default">
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo-default.png" alt="logo"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav  smooth-scroll navbar-right">
                        <li class="active"><a href="#intro">Intro</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#pricing">pricing</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#testimonials">Testimonials</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="nav-button"><a target="_blank" href="https://themeforest.net/item/float-responsive-bootstrap-web-app-kit/17838778">Purchase Now</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <!--intro section-->
        <section id="intro" class="intro-section">            
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1>Best choice for your web app. Simple and Clean Boostrap admin template </h1>
                        <p>
                            Float is a simple and flat design bootstrap3 template, Its include tons of UI elements, SASS files for easy customization, 60+ ready to use pages, 40+ Powerful plugins, Light & dark, horizontal navigation styles and custom widgets. All of these awesome features allows you to create any type of web applications.
                        </p>
                        <div class="buttons smooth-scroll">
                            <a href="#features" class="btn btn-white btn-lg btn-rounded">Learn More</a>
                            <a href="https://themeforest.net/item/float-responsive-bootstrap-web-app-kit/17838778" class="btn btn-link btn-lg">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="intro-mockup">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <img src="images/mockup.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <!--intro section-->


        <!--features section-->
        <section id="features" class="features-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="center-title"><span class="text-indigo">Many features</span> to discover with float</h1>
                        <p class="subtitle">
                            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-tablet fa-4x text-primary"></i>
                        <h4 class="text-primary">Fully responsive</h4>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                        </p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-code fa-4x text-teal"></i>
                        <h4 class="text-teal">Clean & valid code</h4>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                        </p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-twitter fa-4x text-indigo"></i>
                        <h4 class="text-indigo">Bootstrap3</h4>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-diamond fa-4x text-warning"></i>
                        <h4 class="text-warning">60+ Sass files</h4>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                        </p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-line-chart fa-4x text-teal"></i>
                        <h4 class="text-teal">7+ Chart libraries</h4>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                        </p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <i class="fa fa-pagelines fa-4x text-danger"></i>
                        <h4 class="text-danger">Large variety of pages</h4>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                        </p>
                    </div>
                </div>
                <div class="margin-b-30 text-center">
                    <h5 class="font-400"><a href="#">Click Here</a> to discover more features</h5>
                </div>
            </div>
        </section>
        <!--end features section-->



        <!--pricing section-->
        <section id="pricing" class="pricing-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="center-title">Pricing plans</h1>
                        <p class="subtitle">
                            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default price-box">
                            <div class="panel-heading">
                                Basic
                            </div>
                            <div class="price-amount">
                                <sup>$</sup> 9.99 <sub>/PM</sub>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled price-features">
                                    <li>Lorem ipsum dolor</li>
                                    <li>dummy text of the printing</li>
                                    <li>Dolor sit amet</li>
                                    <li>Printing text of industry</li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <a href="page-register.html" class="btn btn-border btn-rounded btn-primary">Sing Up</a>
                            </div>
                        </div><!--end panel-->
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-indigo price-box">
                            <div class="panel-heading">
                                Pro
                            </div>
                            <div class="price-amount">
                                <sup>$</sup> 21.99 <sub>/PM</sub>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled price-features">
                                    <li>Lorem ipsum dolor</li>
                                    <li>dummy text of the printing</li>
                                    <li>Dolor sit amet</li>
                                    <li>Printing text of industry</li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <a href="page-register.html" class="btn btn-rounded btn-indigo">Sing Up</a>
                            </div>
                        </div><!--end panel-->
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default price-box">
                            <div class="panel-heading">
                                Extended
                            </div>
                            <div class="price-amount">
                                <sup>$</sup> 49.99 <sub>/PM</sub>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled price-features">
                                    <li>Lorem ipsum dolor</li>
                                    <li>dummy text of the printing</li>
                                    <li>Dolor sit amet</li>
                                    <li>Printing text of industry</li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <a href="page-register.html" class="btn btn-border btn-rounded btn-primary">Sing Up</a>
                            </div>
                        </div><!--end panel-->
                    </div>
                </div>
            </div>
        </section>
        <!--end pricing section-->


        <!--team section-->
        <section id="team" class="team-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="center-title"><span class="text-indigo">Creative team</span> always ready to help</h1>
                        <p class="subtitle">
                            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <img src="images/avtar-1.jpg" alt="" class="img-circle">
                        <h4>Nikita Miller</h4>
                        <p>
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>  
                    <div class="col-sm-4 margin-b-30">
                        <img src="images/avtar-2.jpg" alt="" class="img-circle">
                        <h4>Nikita Miller</h4>
                        <p>
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>  
                    <div class="col-sm-4 margin-b-30">
                        <img src="images/avtar-3.jpg" alt="" class="img-circle">
                        <h4>Nikita Miller</h4>
                        <p>
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <img src="images/avtar-4.jpg" alt="" class="img-circle">
                        <h4>Nikita Miller</h4>
                        <p>
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>  
                    <div class="col-sm-4 margin-b-30">
                        <img src="images/avtar-5.jpg" alt="" class="img-circle">
                        <h4>Nikita Miller</h4>
                        <p>
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>  
                    <div class="col-sm-4 margin-b-30">
                        <img src="images/avtar-6.jpg" alt="" class="img-circle">
                        <h4>Nikita Miller</h4>
                        <p>
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </p>
                    </div>  
                </div>
            </div>
        </section>
        <!--end team section-->


        <!--testimonials-->
        <section id="testimonials" class="testimonials-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="center-title">What people say about float</h1>
                        <p class="subtitle">
                            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <div class="testimonials_box">
                            <p>
                                " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
                            </p>
                        </div>
                        <div class="testimonial-info clearfix">
                            <img src="images/avtar-1.jpg" alt="" width="40" class="img-circle">
                            <div class="overflow-hidden">
                                <h5>Nikita Miller</h5>
                                <span>Themeforest user</span>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-4 margin-b-30">
                        <div class="testimonials_box">
                            <p>
                                " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
                            </p>
                        </div>
                        <div class="testimonial-info clearfix">
                            <img src="images/avtar-1.jpg" alt="" width="40" class="img-circle">
                            <div class="overflow-hidden">
                                <h5>Nikita Miller</h5>
                                <span>Themeforest user</span>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-4 margin-b-30">
                        <div class="testimonials_box">
                            <p>
                                " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
                            </p>
                        </div>
                        <div class="testimonial-info clearfix">
                            <img src="images/avtar-1.jpg" alt="" width="40" class="img-circle">
                            <div class="overflow-hidden">
                                <h5>Nikita Miller</h5>
                                <span>Themeforest user</span>
                            </div>
                        </div>
                    </div><!--end col-->
                </div>
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <div class="testimonials_box">
                            <p>
                                " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
                            </p>
                        </div>
                        <div class="testimonial-info clearfix">
                            <img src="images/avtar-1.jpg" alt="" width="40" class="img-circle">
                            <div class="overflow-hidden">
                                <h5>Nikita Miller</h5>
                                <span>Themeforest user</span>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-4 margin-b-30">
                        <div class="testimonials_box">
                            <p>
                                " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
                            </p>
                        </div>
                        <div class="testimonial-info clearfix">
                            <img src="images/avtar-1.jpg" alt="" width="40" class="img-circle">
                            <div class="overflow-hidden">
                                <h5>Nikita Miller</h5>
                                <span>Themeforest user</span>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-4 margin-b-30">
                        <div class="testimonials_box">
                            <p>
                                " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
                            </p>
                        </div>
                        <div class="testimonial-info clearfix">
                            <img src="images/avtar-1.jpg" alt="" width="40" class="img-circle">
                            <div class="overflow-hidden">
                                <h5>Nikita Miller</h5>
                                <span>Themeforest user</span>
                            </div>
                        </div>
                    </div><!--end col-->
                </div>
            </div>
        </section>
        <!--end testimonials-->


        <!--clients-->
        <div class="our-clients">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="center-title">Our Clients</h1>
                        <p class="subtitle">
                            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="client-box">
                                    <img src="images/cl-1.png" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="client-box">
                                    <img src="images/cl-2.png" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="client-box">
                                    <img src="images/cl-4.png" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="client-box">
                                    <img src="images/cl-3.png" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="client-box">
                                    <img src="images/cl-5.png" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="client-box">
                                    <img src="images/cl-1.png" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="client-box">
                                    <img src="images/cl-3.png" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="client-box">
                                    <img src="images/cl-4.png" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <!--end clients-->


        <!--contact-->
        <section id="contact" class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h1 class="center-title"><span class="text-indigo">Connect with us</span> anytime</h1>
                        <p class="subtitle">
                            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-sm-6 margin-b-30">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" id="name" class="form-control" placeholder="John Doe">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Name</label>
                                        <input type="text" id="email" class="form-control" placeholder="john@doe.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea id="message" class="form-control" rows="5" placeholder="Lorem ipsum dolor..."></textarea>
                                    </div>
                                    <input type="submit" value="Send Message" class="btn btn-indigo btn-rounded btn-lg">
                                </form>
                            </div>
                            <div class="col-sm-6 margin-b-30">
                                <address>
                                    <strong><span class="navy">Company name, Inc.</span></strong><br>
                                    124 Street name, Lorem Ipsum<br>
                                    Columbia, MO 302012<br>
                                    <abbr title="Phone">P:</abbr> (123) 123-1234
                                </address>
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end contact-->

        <footer class="footer">
            <div class="container text-center">
                <span>&copy; Copyright 2016-2017. Float Admin</span>
            </div>
        </footer>

        <!--Common plugins-->
        <script src="plugins/jquery/dist/jquery.min.js"></script>
        <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="plugins/pace/pace.min.js"></script>
        <script src="js/landing.custom.js"></script>
    </body>
</html>
